@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 100%;
  margin: auto;
  overflow: auto;
  min-height: 4%;
  border: 1px solid grey;
  padding: 1%;
}

h1 {
  margin: auto;
  padding-bottom: 1%;
  /* margin-left: 42% */
}

.HeaderRow1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderRow2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 30%;
}

.btn {
  display: inline-block;
  background: none;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  /* border-radius: 5px; */
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
/*
.btn .svg {
  height: 120px;
} */

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
  color: grey;
}

.btn-block {
  display: block;
  width: 100%;
}
