@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  max-width: 100%;
  margin: auto;
  overflow: auto;
  min-height: 4%;
  border: 1px solid grey;
  padding: 1%;
}

a {
  text-decoration: none;
}

h1 {
  margin: auto;
  padding-bottom: 1%;
  padding-left: 3%;
}

.title-header a .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
}

.nav-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 30%;
}

.btn {
  display: inline-block;
  background: none;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
  color: grey;
}

.btn-block {
  display: block;
  width: 100%;
}
